main {
    padding: 0;
    margin-left: 120px;
    width: auto;
    display: block;
    padding-bottom: 60px;
}

main h2:first-of-type {
    display: none;
}

.hexagons {
    margin-left: -50px;
    margin-right: 70px;
    margin-bottom: 0;
    margin-top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    color: var(--header-dim-text);
}

.hexagons:last-of-type {
    margin-bottom: 150px;
}

.hexagon .content {
    z-index: 5;
}

.hexagon h3 {
    margin: 0;
    font-family: roboto, helvetica, arial, sans-serif;
    font-weight: normal;
    font-size: 1.75vw;
}

.hexagon h3 {
    color: #979797;
}

.hexagon .caption {
    color: #606060;
}

.hexagon.highlight h3 {
    color: white;
}

.hexagon.highlight .caption {
    color: #979797;
}

.hexagons .hexagon {
    margin-top: calc(28.8675% + 7px);
}

.hexagons:nth-of-type(2n) .hexagon {
    margin-left: 50%;
}

.hexagon {
    width: calc(100% - 10px);
    padding-bottom: calc(57.73%);
    height: 0;
    background-color: var(--hex-bg);
    position: relative;
    margin-bottom: 0;
}

main {
    padding-bottom: 250px;
}

.hexagon .content {
    box-sizing: border-box;
    padding: 20px;
    font-size: 32px;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hexagon .caption {
    order: -1;
    margin-bottom: 0.5em;
}

.hexagon path {
    fill: var(--hex-bg);
}

aside {
    display: none;
}

.hexagon {
    --background-color: white;
    --text-color: black;
}

.hexagon, .hexagon h3, .hexagon path, .hexagon .caption {
    cursor: pointer;
    transition: color ease-out 0.2s, background-color ease-out 0.2s, fill ease-out 0.2s;
}

.hexagon:hover path {
    fill: var(--background-color);
}

.hexagon:hover {
    background-color: var(--background-color);
    color: var(--text-color) !important;
}

.hexagon:hover h3 {
    color: var(--text-color) !important;
}

.hexagon:hover .caption {
    color: var(--text-color);
}