main {
    padding: 0;
    margin-left: 120px;
    width: auto;
    display: block;
    padding-bottom: 60px;
}

main h2 {
    display: block;
    flex-basis: 100% !important;
}

.hexagons {
    margin-left: -120px;
    margin-top: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.hexagon {
    width: calc(100% - 10px);
    padding-bottom: calc(100% - 10px);
    margin-bottom: 10px;
    height: 0;
    background-color: var(--hex-bg);
    position: relative;
    margin-bottom: 200px;
}

.hexagon > div {
    box-sizing: border-box;
    font-size: 32px;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}