html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0;
  margin: 0;
}

body {
  background-color: #121112;
  background-color: #252e29;
  color: white;
  font-family: Lato, sans-serif;
  font-size: 18px;
}

input {
  font-family: Lato;
}

header {
  /* background: linear-gradient(transparent 0%, #121112 100%),
    radial-gradient(
        circle at 900px 0px,
        rgb(36 19 34) 0%,
        rgba(120, 212, 255, 0) 80%
      )
      no-repeat,
    radial-gradient(
        circle at -100px 90px,
        rgba(2, 40, 36, 0.8) 0%,
        rgba(120, 212, 255, 0) 80%
      )
      no-repeat,
    radial-gradient(
        circle at 80% 90%,
        rgba(14, 14, 14, 0.8) 0%,
        rgba(14, 14, 14, 0) 80%
      )
      no-repeat,
    linear-gradient(#301035, #301035); */

  background-color: #24203c;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  padding-left: 120px;
  font-family: "Teko", sans-serif;      
}

header h1 {
  color: white;
  line-height: 1em;
  font-size: 82px;
  max-width: 320px;
  padding: 0;
  margin: 0;
}

header h1,
header p {
  padding-top: 72px;
  padding-bottom: 100px;
}

header p {
  font-size: 32px;
  color: #c0c0c090;
  padding-left: 0;
}

header p strong {
  font-weight: normal;
  color: white;
}

header input[type="search"] {
  font-size: 16px;
  width: 300px;
  border-radius: 8px;
  border: 0;
  padding: 10px;
  background-color: #19171cb0;
  border: solid #7066703d 1px;
  color: white;
  position: relative;
  top: 2px;
}

header input[type="search"]::placeholder {
  color: #cfcfcf;
}

header input[type="search"]:focus::placeholder {
  color: #cfcfcf80;
}

#logo {
  font-family: "Roboto Mono", monospace;
  font-size: 32px;
  color: white;
  padding-right: 29px;
  white-space: nowrap;
}

#logo .highlight {
  color: orangered;
}

.navbar {
  display: flex;
  flex-basis: 100%;
  padding: 40px 0;
}

main {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  padding-left: 120px;
  background-color: #252e29c0;
  padding-bottom: 100px;  
}

h1, h2, h3, h4, h5, h6 {
  font-family: Teko, sans-serif;
}

h1 {
  font-size: 56px;
}

ul {
  padding: 0;
  list-style-type: none;
  line-height: 1.75;
}

section h1 {
  padding-bottom: 10px;
  margin-bottom: 28px;
  border-bottom: solid orangered 2px;
  display: table;
  padding-right: 10%;
}