@media (max-width: 900px) {


    header > div {
        padding: 0;
        margin: 0;
        display: block !important;
        padding-bottom: 50px;
    }


    header .navbar {
        padding: 20px;
        width: 100%;
        box-sizing: border-box;
    }

    header input[type=search] {
        margin-right: 25px;
    }

    header .navbar .hamburger {
        margin-right: 0px;
        margin-left: auto;
    }

    header h1 {
        padding: 0;
        margin: 50px;
        max-width: 100%;
        font-size: 4em;
        line-height: 1em;
        text-align: center;
        margin-bottom: 0;
    }

    header p {
        font-size: 1em;
        display: none;
    }

    header p br {
        display: none;
    }

    aside {
        margin-top: 0;
        width: 100%;
        border-radius: 0;
        margin: 0;
    }

    main {
        grid-template-rows: 1;
        grid-template-columns: auto;
        margin: 0; padding: 0;
        margin: 50px;
        padding: 50px;
        padding-top: 0;
    }

    section h1 {
        line-height: 1em;
        text-align: center;
        padding: 0;
        border: 0;
        display: block;
    }

    ol li::before {
        display: none;
    }
}