@import 'flat_beige_banner.css';

:root {
    --header-bg: #141414;
    --header-dim-text: #646464;
    --highlight: #414e37;
    --bright-text: #fff;
    --body-text: #dfdfdf;
    --top-bar-bg: #1c1c1c;
    --top-bar-text: #686868;
    --aside-bg: hsl(0deg 0% 9%);
    --aside-text: #858585;
    --body-bg: #101010;
    --body-text: #d7d7d7;
    --footer-bg: #0c0c0c;
    --footer-text: #4c4c4c;
    --dimmer-bg: #101010;
    --search-input-bg: hsl(0deg 0% 10%);
}

#logo {
    letter-spacing: 0;
    transition: letter-spacing 0.3s;
}

#logo:active {
    letter-spacing: -0.05em;
}

#logo .highlight {
    color: var(--highlight) !important;
}

header {
    background-color: var(--header-bg);
}

.frontpage header {
    background-color: var(--header-bg);
}

header h1 {
    font-size: 108px;
    font-weight: 300;
}

header p {
    color: var(--header-dim-text);
    margin-left: 60px;
    letter-spacing: 0.03em;
}

header > div {
    padding-bottom: 50px;
}

body {
    background-color: var(--body-bg);
}

aside {
    background-color: var(--aside-bg);
    color: var(--aside-text);
}

main {
    color: var(--body-text);
    grid-gap: 80px;
}

footer {
    background: none;
    background-color: var(--footer-bg);
    background-image: radial-gradient(circle at 90% 50%, #070b21ff, #070b2100 80%), radial-gradient(circle at 95% 10%, #1c071cff, #1c071c00 90%);
    background-position: 100vw 0, 500vw 0;
    background-repeat: no-repeat;
    filter: none;
    color: var(--footer-text);
    transition: background-position 15s ease-out 2.5s, background-color ease-out 2.5s, color 2s;
}

footer .sky {
    opacity: 0;
    transition: opacity 45s ease-out;
}

footer.nightsky {
    background-image: radial-gradient(circle at 90% 90%, #070b21ff, #070b2100 80%), radial-gradient(circle at 95% 10%, #1c071cff, #1c071c00 90%);
    background-color: black;
    background-position: 0 0, 0 0;
    color: #ffffff00;
}

footer.nightsky .sky {
    opacity: 1;
}

#dimmer.active {
    background-color: var(--dimmer-bg);
}

section h1 {
    border-bottom: 0;
}

header p .highlight {
    background-color: var(--highlight);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    left: -10px;
}

header input[type=search] {
    background-color: var(--search-input-bg);
    border: none;
}

*::selection {
    background-color: white !important;
    color: black !important;
}

footer {
    padding-top: 50px;
}

/* main *::selection {
    color: white !important;
    background-color: #222 !important;
} */

.hamburger {
    display: inline-block;
    width: 32px;
    height: 20px;
    margin-left: auto;
    margin-right: 120px;
    background-image: url(/hamburger.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

@media (min-width: 901px) {
    aside {
        margin: 0;
        width: calc(100% - 400px);
        border-radius: 0;
        padding-left: 120px;
        position: relative;
        overflow: hidden;
        padding-right: 120px;
    }

    aside p {
        margin-left: 0;
    }

    main {
        width: calc(100% - 400px);
    }

    .disclaimer {
        background-color: var(--top-bar-bg);
        text-align: center;
        color: var(--top-bar-text) !important;
        line-height: 50px;
        font-style: italic;
    }
}

@media (min-width: 1400px) {
    aside {
        padding-right: 345px;
    }

    aside::after {
        content: " ";
        position: absolute;
        right: 0; bottom: 0;
        width: 0; height: 0;
        border-top: solid transparent 400px;
        border-right: solid var(--body-bg) 300px;
    }
}

@media (max-width: 900px) {
    aside {
        width: 100%;
    }

    .disclaimer {
        display: none;
    }
}