@import 'flat_beige_banner.css';

#logo {
    letter-spacing: 0;
    transition: letter-spacing 0.3s;
}

#logo:active {
    letter-spacing: -0.05em;
}

header {
    background-color: #2d2e2e;
}

header > div {
    padding-bottom: 50px;
}

body {
    background-color: hsl(180deg 1% 10%);
}

aside {
    display: none;
}

main {
    color: white;
}

footer {
    background: none;
    background-color: hsl(210deg 10% 4%);
}

#dimmer.active {
    background-color: #191919;
}

section h1 {
    border-bottom: 0;
}

header p .highlight {
    background-color: orangered;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    left: -10px;
}

*::selection {
    background-color: white !important;
    color: black !important;
}

footer {
    padding-top: 50px;
}


/* Lighten things up */

body {
    background-color: white;
}

main {
    color: #222;
}

main *::selection {
    color: white !important;
    background-color: #222 !important;
}