@import 'flat_beige_banner.css';

#logo {
    letter-spacing: 0;
    transition: letter-spacing 0.3s;
}

#logo:active {
    letter-spacing: -0.1em;
}

header {
    background-color: #2d2e2e;
}

body {
    background-color: hsl(180deg 1% 10%);
}

aside {
    display: none;
}

main {
    color: white;
}

footer {
    background: none;
    background-color: hsl(210deg 10% 4%);
}

#dimmer.active {
    background-color: #191919;
}

header p .highlight {
    background-color: #4d8989;
    color: white;
}

section h1 {
    border-bottom: 0;
}