header, footer {
  background: linear-gradient(transparent 0%, #121112 100%),
    radial-gradient(
        circle at 900px 0px,
        rgb(36 19 34) 0%,
        rgba(120, 212, 255, 0) 80%
      )
      no-repeat,
    radial-gradient(
        circle at -100px 90px,
        rgba(2, 40, 36, 0.8) 0%,
        rgba(120, 212, 255, 0) 80%
      )
      no-repeat,
    radial-gradient(
        circle at 80% 90%,
        rgba(14, 14, 14, 0.8) 0%,
        rgba(14, 14, 14, 0) 80%
      )
      no-repeat,
    linear-gradient(#301035, #301035);
}

aside {
    background-color: hsl(316deg 5% 35%);
}

body {
    background-color: white;
}

main {
    color: #333;
}

footer::before, footer::after {
    height: 10px;
}

footer::before {
    background-color: #f0f0f0;
}

footer::after {
    background-color: #c5c5c5;
}

header p {
    color: #ffffffb0;
}